<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>GoWood</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <!-- TODO: load from installed npm package -->
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css' rel='stylesheet' />
</head>
<body>
    <div id="main">
        <div class="sidebar">
            <div id="app" ></div> 
        </div>
        <div class="visualization">
            <div id="map" /> 
        </div>
    </div>
</body>
</html>
