#breadcrumb {
    
    margin: 0.5em 0.5em 1.5em 0.5em;
    
    span,
    button,
    textarea {
        margin: 1px;
        text-transform: capitalize;    
    }

    .divider {
        font-size: 14pt;
    }



}